* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-items: center;
    height: 50px;
}

.logo img {
    width: 100px;
    height: 50px;
    margin-left: 25px;
    margin-top: 5px;
}

.content1 {
    margin-right: 300px;
}

.content2 {
    margin-right: 30px;
}

.content1 a {
    color: #969696;
    text-decoration: none;
    margin-left: 10px;
    font-size: smaller;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.content2 a {
    color: #969696;
    text-decoration: none;
    margin-left: 20px;
    font-size: smaller;
    font-family: 'Montserrat Subrayada', sans-serif;
}


/* -------------------Nav 2---------------------- */

.container2 {
    background-color: #2c2929;
    display: flex;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.container2 .logo2 img {
    width: 25px;
    height: 25px;
    margin-left: 40px;
    margin-right: 100px;
}

.item1 a {
    padding-left: 40px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: smaller;
}